.comparison__cont {
  display: flex;
}

.comparison__left,
.comparison__right {
  width: 50%;
  overflow-x: auto;
  tab-size: 2;
}

.comparison__left {
  border-right: 1px solid #8e44ad;
}

.comparison__left div,
.comparison__left pre {
  margin: 0;
  padding: 0;
}
